*{
    margin: 0;
    padding: 0;
}
 
#titulo{
    font-family: sans-serif;
    text-shadow: 2px 2px 2px #c98e8e;
    color: #612828;
    margin-left: 7%;
}

#subtitulo{
    font-family: sans-serif;
    color: #884545;
    margin-left: 10%;
}

fieldset{
    border: 0;
}

body{
    background-image: radial-gradient(rgb(132, 134, 211), rgb(180, 111, 138));
    font-family: sans-serif;
    background-size: 100%;
    font-size: 1em;
    color: #660000;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;

}

input,select,textarea,button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #660000;
    display: block;
    margin-left: 5px;
}

fieldset.grupo.campo{
    float: left;
    margin-right: 1em;
    
}

.campo input[type="text"],.campo input[type="email"],.campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #8a4747;
    box-shadow: 2px 2px 2px rgb(0, 0, 0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #867373fb;
    border-radius: 5px;
} 

.botao{
    font-size: 1.2em;
    background-color: rgb(126, 47, 53);
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50% -50%);
}

.botao:hover{
    background: #f0aeb7;
    box-shadow: inset 2px 2px 2px rgb(0, 0, 0, 0.2);
    text-shadow: none;
}

#check{
    display: inline-block;
}